pipeline/trycatchpipeline.json
{
	"name": "trycatchpipeline",
	"properties": {
		"activities": [
			{
				"name": "TryCatchBlock",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Copy data1').Status,'Success')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Exceptionvariable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Exceptionoccur",
								"value": {
									"value": "@concat('Exception occur', activity('Copy data1').output.Status) ",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "True",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "True",
								"value": {
									"value": "@concat('this is :',activity('Copy data1').Status,' Activity')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "metadatadtaset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "metadatadtaset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Exceptionoccur": {
				"type": "String"
			},
			"True": {
				"type": "String"
			}
		},
		"folder": {
			"name": "adf_questions_nv"
		},
		"annotations": []
	}
}