ADFLogistics/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFLogistics"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "logisticsservermain.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "logisticDB"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "logisticsdb"
		},
		"AzureSqlDatabase2_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "LogisticsDBConnection"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "S-DHIMAN"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AWN_STG_Demo"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sanjeevk"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/demologisticsissue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BronzeAzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "demo",
						"fileSystem": "bronzedata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getmetadata_excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BronzeAzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BikeSalesData.xlsx",
						"folderPath": "Sample_Dump_data",
						"fileSystem": "backenddata"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "Marital Status",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Income",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Education",
						"type": "String"
					},
					{
						"name": "Occupation",
						"type": "String"
					},
					{
						"name": "Home Owner",
						"type": "String"
					},
					{
						"name": "Cars",
						"type": "String"
					},
					{
						"name": "Commute Distance",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Age",
						"type": "String"
					},
					{
						"name": "Purchased Bike",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsontocsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "metadataAzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "nestedjson.json",
						"container": "destinationfolder"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/logistic_tb_json_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BronzeAzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Logisticdata.json",
						"folderPath": "logiscticsdata",
						"fileSystem": "backenddata"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"SHIPMENTNO": {
							"type": "string"
						},
						"TRANSPORTERCODE": {
							"type": "string"
						},
						"TRANSPORTERNAME": {
							"type": "string"
						},
						"MODEOFTRANSPORT": {
							"type": "string"
						},
						"MEANSOFTRANSPORT_TYPE": {
							"type": "string"
						},
						"PRIMARY_FREIGHT": {
							"type": "string"
						},
						"SECONDARY_FREIGHT": {
							"type": "string"
						},
						"TOTAL_FREIGHT": {
							"type": "string"
						},
						"LORRYORTRUCKNO": {
							"type": "string"
						},
						"TRUCKTYPEHU": {
							"type": "string"
						},
						"TRUCKTYPEDESCHU": {
							"type": "string"
						},
						"BILLINGDOCUMENT": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadatadtaset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "metadataAzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "adf_questionsdataset"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "metadatafile.csv",
						"container": "sourcefolder"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FileName",
						"type": "String"
					},
					{
						"name": "FileType",
						"type": "String"
					},
					{
						"name": "Folder Path",
						"type": "String"
					},
					{
						"name": "TargetTable",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/miscellaneous_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Logistics_db_link_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "miscellaneous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/nestedJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "metadataAzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ADF_QUESTION.json",
						"container": "sourcefolder"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"ppu": {
							"type": "number"
						},
						"batters": {
							"type": "object",
							"properties": {
								"batter": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"type": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"topping": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"type": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/timetableParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RawlAzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "timetablparqet",
						"container": "destination"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LogisticDBKey",
							"type": "LinkedServiceReference"
						},
						"secretName": "LogisticDB"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LogisticDBKey",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('AzureSqlDatabase2_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedonprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_Ingestion_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "getmetadata_excel",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Excel_Sheet_DataSet",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-21T10:14:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/getmetadata_excel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JSON_Ingestion_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "logistic_tb_json_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "LogisticsParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-21T10:14:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/logistic_tb_json_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Outer_for_each_Nested_loops_in_adf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Excel_Sheet_DataSet",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"fileListPath": "backenddata",
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Excel1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Filename": {
						"type": "String"
					},
					"CSVFILE": {
						"type": "String"
					},
					"JSON": {
						"type": "String"
					}
				},
				"folder": {
					"name": "For_each_implementation"
				},
				"annotations": [],
				"lastPublishTime": "2025-01-21T10:14:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getdatafrommetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "metadatadtaset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "check file names",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Filename",
										"value": {
											"value": "@item().FileName",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "check file names",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().FileType",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "CSV",
												"activities": [
													{
														"name": "CSVFOUND",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "CSVFILE",
															"value": {
																"value": "@concat('this is csv file name is ', item().FileName)",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"value": "JSON",
												"activities": [
													{
														"name": "JSONFound",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "JSON",
															"value": {
																"value": "@concat('This is JSon File :',item().FileName)",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Filename": {
						"type": "String"
					},
					"CSVFILE": {
						"type": "String"
					},
					"JSON": {
						"type": "String"
					}
				},
				"folder": {
					"name": "adf_questions_nv"
				},
				"annotations": [],
				"lastPublishTime": "2025-01-21T10:14:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/metadatadtaset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trycatchpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TryCatchBlock",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Copy data1').Status,'Success')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Exceptionvariable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Exceptionoccur",
										"value": {
											"value": "@concat('Exception occur', activity('Copy data1').output.Status) ",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "True",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "True",
										"value": {
											"value": "@concat('this is :',activity('Copy data1').Status,' Activity')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "metadatadtaset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "metadatadtaset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Exceptionoccur": {
						"type": "String"
					},
					"True": {
						"type": "String"
					}
				},
				"folder": {
					"name": "adf_questions_nv"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/metadatadtaset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Billing"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremSqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "erp",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BILLING_TABLE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RowInputSourceCSV",
								"type": "DatasetReference"
							},
							"name": "bliingdata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "BillingParquet",
								"type": "DatasetReference"
							},
							"name": "billingsink"
						}
					],
					"transformations": [
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          REPORT_FLAG as string,",
						"          COMPANY_REGION_CLUBBED as string,",
						"          COMPANY_REGION_CLUBBED_2 as string,",
						"          COMPANY_REGION_CLUBBED_3 as string,",
						"          COMPANY_REGION_CLUBBED_4 as string,",
						"          SALES_ORGANISATION as string,",
						"          DIVISIONCODE as string,",
						"          DISTRIBUTIONCHANNEL as string,",
						"          SALES_TYPE as string,",
						"          SALES_TYPE_2 as string,",
						"          SALES_TYPE_5 as string,",
						"          BILLINGDOCUMENT as string,",
						"          SHIPMENTNO as string,",
						"          DELIVERY_NO as string,",
						"          SONUMBER as string,",
						"          ORDERQUANTITY as string,",
						"          CANCELLEDINVOICENO as string,",
						"          DOCUMENT_CATEGORY as string,",
						"          BILLINGTYPE as string,",
						"          SALES_FLAG as string,",
						"          QUANTITY_ZERO_FLAG as string,",
						"          EWAYBILLNO as string,",
						"          EWAYDATE as string,",
						"          INVOICEDQUANTITY as string,",
						"          NETWR_VFKP as string,",
						"          MRP_RS_BAG as string,",
						"          GROSS_BILL_PRICE as string,",
						"          INVOICE_PD as string,",
						"          MANUAL_PD as string,",
						"          NET_BILL_PRICE as string,",
						"          SGST as string,",
						"          CGST as string,",
						"          IGST as string,",
						"          TOTAL_TAX as string,",
						"          PRIMARY_FREIGHT as string,",
						"          MANUAL_FREIGHT as string,",
						"          TOTAL_PRIMARY_FREIGHT as string,",
						"          PRIMARY_FREIGHT_2 as string,",
						"          SECONDARY_FREIGHT as string,",
						"          TOTAL_FREIGHT as string,",
						"          HANDLING_CHARGE as string,",
						"          GODOWN_RENT as string,",
						"          BRANCH_EXPENSES_MANUAL as string,",
						"          TDC as string,",
						"          TOTAL_DISCOUNT as string,",
						"          TOTAL_COMMISION as string,",
						"          TOTAL_DISCOUNT_COMMISION as string,",
						"          CLINKER_PERCENTAGE as string,",
						"          TOTAL_CLINKER_FREIGHT as string,",
						"          PACKING_CHARGES as string,",
						"          OTHER_MANUAL_ADJUSTMENT as string,",
						"          NCR_WITHOUT_SUBSIDY as string,",
						"          TOTAL_REMISSION as string,",
						"          FINAL_NCR as string,",
						"          TOTAL_CASH_REMMISSION as string,",
						"          NET_BILL_PRICE_WITH_GD_IMPACT as string,",
						"          PF_DIST as string,",
						"          SF_DIST as string,",
						"          ORDER_PLATFORM as string,",
						"          PONUMBER as string,",
						"          PO_DATE as string,",
						"          REPORT_DATE as string,",
						"          WEEK_NO as string,",
						"          BILLINGDATE_TIMESTAMP as string,",
						"          BILLINGDATE as string,",
						"          SODATE as string,",
						"          DO_RELEASE_DATE_TIME as string,",
						"          SCHEDULE_DATE_TIME as string,",
						"          SO_RELEASE_DATE_TIME as string,",
						"          DELIVERY_DATE_TIME as string,",
						"          TRANS_TAGG_DATE_TIME as string,",
						"          SHIP_DATE_TIME as string,",
						"          PKGCALL_DATE_TIME as string,",
						"          YARD_IN_DATE_TIME as string,",
						"          YARD_OUT_DATE_TIME as string,",
						"          SECURITY_IN_DATE_TIME as string,",
						"          TARE_DATE_TIME as string,",
						"          ACTUAL_LOAD_DATE_TIME as string,",
						"          GROSS_DATE_TIME as string,",
						"          BILLING_DATE_TIME as string,",
						"          SECURITY_OUT_DATE_TIME as string,",
						"          TAT as string,",
						"          SO_DO_TIME as string,",
						"          DO_SHIP_TIME as string,",
						"          DO_TRANS_TAGG_TIME as string,",
						"          TRANS_TAGG_SHIP_TIME as string,",
						"          SHIP_PH_CALL_TIME as string,",
						"          PH_SEC_CALL_TIME as string,",
						"          SEC_TARE_CALL_TIME as string,",
						"          TW_LOAD_TIME as string,",
						"          LOAD_GW_TIME as string,",
						"          GW_INV_TIME as string,",
						"          INV_GO_TIME as string,",
						"          SLA_DATE_TIME as string,",
						"          INCOTERMS1 as string,",
						"          STATE_CODE_TRANSACTION as string,",
						"          RATE_CODE as string,",
						"          RATE_CODE_DESC as string,",
						"          TZONE as string,",
						"          TZONE_DESC as string,",
						"          MATERIALNUMBER as string,",
						"          MATERIAL_DESCRIPTION as string,",
						"          MATERIAL_SUBTYPE_MKT as string,",
						"          BAG_TYPE_ACTUAL as string,",
						"          PRODUCT_SALES_TEAM as string,",
						"          PRODUCT_MFG_TEAM as string,",
						"          MATNR_BRAND as string,",
						"          BLENDED_NONBLENDED as string,",
						"          BAG_LOOSE as string,",
						"          MANUFACTURING_PLANT as string,",
						"          ACTUAL_MFG_PLANT as string,",
						"          PLANTCODE as string,",
						"          PLANTDESC as string,",
						"          PLANT_TYPE_2 as string,",
						"          PLANT_DEPOT_TYPE as string,",
						"          PLANT_CODE_CLUBBED as string,",
						"          PLANT_NAME_CLUBBED as string,",
						"          PLANT_STATE_CODE as string,",
						"          PLANT_STATE_NAME as string,",
						"          PLANT_SUB_STATE as string,",
						"          DEPODIRECT as string,",
						"          DEPODIRECT_2 as string,",
						"          ROUTE as string,",
						"          ROUTEDESC as string,",
						"          TRANSPORTERCODE as string,",
						"          TRANSPORTERNAME as string,",
						"          DRIVERNAME as string,",
						"          MOBILENO_DRIVER as string,",
						"          LORRYORTRUCKNO as string,",
						"          TRUCKTYPEHU as string,",
						"          TRUCKTYPEDESCHU as string,",
						"          SHIPMENTTYPE as string,",
						"          SHIPPINGTYPE as string,",
						"          CHARG as string,",
						"          BATCHSOURCE as string,",
						"          BATCHNUMBER as string,",
						"          MODEOFTRANSPORT as string,",
						"          MEANSOFTRANSPORT_TYPE as string,",
						"          STOLOC as string,",
						"          DAMAGE_FLAG as string,",
						"          DAMAGE_FLAG_2 as string,",
						"          TRIPID as string,",
						"          SHIFT as string,",
						"          SO_CODE_TRANSACTION as string,",
						"          SO_NAME_TRANSACTION as string,",
						"          ASM_CODE_TRANSACTION as string,",
						"          ASM_NAME_TRANSACTION as string,",
						"          RSM_CODE_TRANSACTION as string,",
						"          RSM_NAME_TRANSACTION as string,",
						"          ZSM_CODE_TRANSACTION as string,",
						"          ZSM_NAME_TRANSACTION as string,",
						"          RSD_CODE_TRANSACTION as string,",
						"          RSD_NAME_TRANSACTION as string,",
						"          Z6_CODE_TRANSACTION as string,",
						"          Z6_NAME_TRANSACTION as string,",
						"          SOLDTOPARTYCODE as string,",
						"          SOLDTOPARTYNAME as string,",
						"          STATE_CODE_SOLDTO as string,",
						"          STATE_NAME_SOLDTO as string,",
						"          CITY_CODE_SOLDTO as string,",
						"          CITY_NAME_SOLDTO as string,",
						"          COUNTY_CODE_SOLDTO as string,",
						"          COUNTY_NAME_SOLDTO as string,",
						"          SALES_TERRITORY_SOLDTO as string,",
						"          TALUKA_CODE_SOLDTO as string,",
						"          TZONE_SOLDTO as string,",
						"          TZONE_NAME_SOLDTO as string,",
						"          LONGITUDE_SOLDTO as string,",
						"          LATITUDE_SOLDTO as string,",
						"          BP_TYPE_SOLDTO as string,",
						"          BP_DESCRIPTION_SOLDTO as string,",
						"          RATE_CODE_SOLDTO as string,",
						"          RATE_CODE_DESC_SOLDTO as string,",
						"          CUSTOMER_GRP1_SOLDTO as string,",
						"          CUSTOMER_GRP1_DESC_SOLDTO as string,",
						"          CUSTOMER_GRP2_SOLDTO as string,",
						"          CUSTOMER_GROUP_SOLDTO as string,",
						"          CUSTOMER_GROUP_GOVT_SOLDTO as string,",
						"          CUSTOMER_ACCOUNT_GROUP_SOLDTO as string,",
						"          SO_CODE_MASTER_SOLDTO as string,",
						"          SO_NAME_MASTER_SOLDTO as string,",
						"          ASM_CODE_MASTER_SOLDTO as string,",
						"          ASM_NAME_MASTER_SOLDTO as string,",
						"          RSM_CODE_MASTER_SOLDTO as string,",
						"          RSM_NAME_MASTER_SOLDTO as string,",
						"          ZSM_CODE_MASTER_SOLDTO as string,",
						"          ZSM_NAME_MASTER_SOLDTO as string,",
						"          RSD_CODE_MASTER_SOLDTO as string,",
						"          RSD_NAME_MASTER_SOLDTO as string,",
						"          Z6_CODE_MASTER_SOLDTO as string,",
						"          Z6_NAME_MASTER_SOLDTO as string,",
						"          SHIPTOPARTYCODE as string,",
						"          SHIPTOPARTYNAME as string,",
						"          Z6_CODE_MASTER_SHIPTO as string,",
						"          Z6_NAME_MASTER_SHIPTO as string,",
						"          UNLOADINGPOINTCODE as string,",
						"          UNLOADINGPOINTNAME as string,",
						"          STATE_CODE_UNLOADINGPOINT as string,",
						"          STATE_NAME_UNLOADINGPOINT as string,",
						"          CITY_CODE_UNLOADINGPOINT as string,",
						"          CITY_NAME_UNLOADINGPOINT as string,",
						"          COUNTY_CODE_UNLOADINGPOINT as string,",
						"          COUNTY_NAME_UNLOADINGPOINT as string,",
						"          SALES_TERRITORY_UNLOADINGPOINT as string,",
						"          TALUKA_CODE_UNLOADINGPOINT as string,",
						"          TZONE_UNLOADINGPOINT as string,",
						"          TZONE_NAME_UNLOADINGPOINT as string,",
						"          LONGITUDE_UNLOADINGPOINT as string,",
						"          LATITUDE_UNLOADINGPOINT as string,",
						"          BP_TYPE_UNLOADINGPOINT as string,",
						"          BP_DESCRIPTION_UNLOADINGPOINT as string,",
						"          RATE_CODE_UNLOADINGPOINT as string,",
						"          RATE_CODE_DESC_UNLOADINGPOINT as string,",
						"          CUSTOMER_GRP1_UNLOADINGPOINT as string,",
						"          CUSTOMER_GRP1_DESC_UNLOADINGPOINT as string,",
						"          CUSTOMER_GRP2_UNLOADINGPOINT as string,",
						"          CUSTOMER_GROUP_UNLOADINGPOINT as string,",
						"          CUSTOMER_ACCOUNT_GROUP_UNLOADINGPOINT as string,",
						"          SO_CODE_MASTER_UNLOADINGPOINT as string,",
						"          SO_NAME_MASTER_UNLOADINGPOINT as string,",
						"          ASM_CODE_MASTER_UNLOADINGPOINT as string,",
						"          ASM_NAME_MASTER_UNLOADINGPOINT as string,",
						"          RSM_CODE_MASTER_UNLOADINGPOINT as string,",
						"          RSM_NAME_MASTER_UNLOADINGPOINT as string,",
						"          RSM_EMAIL_MASTER_UNLOADINGPOINT as string,",
						"          ZSM_CODE_MASTER_UNLOADINGPOINT as string,",
						"          ZSM_NAME_MASTER_UNLOADINGPOINT as string,",
						"          ZSM_EMAIL_MASTER_UNLOADINGPOINT as string,",
						"          RSD_CODE_MASTER_UNLOADINGPOINT as string,",
						"          RSD_NAME_MASTER_UNLOADINGPOINT as string,",
						"          Z6_CODE_MASTER_UNLOADINGPOINT as string,",
						"          Z6_NAME_MASTER_UNLOADINGPOINT as string,",
						"          KEY_NONKEY_1 as string,",
						"          KEY_NONKEY_2 as string,",
						"          KEY_NONKEY_3 as string,",
						"          REGULAR_CONSIGNMENT as string,",
						"          STATE_WATERFALL_SD_WO_T_NT as string,",
						"          STATE_WATERFALL_SD as string,",
						"          VC_RP_PER_MT as string,",
						"          VC_RP_VALUE as string,",
						"          CONTRIBUTION_RP_VALUE as string,",
						"          A767_FREIGHT_VALUE as string,",
						"          A767_Z3_ZJ_FREIGHT_VALUE as string,",
						"          BUSINESS_AREA as string,",
						"          PROFIT_CENTRE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> bliingdata",
						"bliingdata select(mapColumn(",
						"          BILLINGDOCUMENT,",
						"          INVOICEDQUANTITY,",
						"          NETWR_VFKP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> billingsink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BILLING_TABLE_to_DB')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TIMETABLEDATASET",
								"type": "DatasetReference"
							},
							"name": "bliingdata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_Billing_Table",
								"type": "DatasetReference"
							},
							"name": "billingsink"
						}
					],
					"transformations": [
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          REPORT_FLAG as string,",
						"          COMPANY_REGION_CLUBBED as string,",
						"          COMPANY_REGION_CLUBBED_2 as string,",
						"          COMPANY_REGION_CLUBBED_3 as string,",
						"          COMPANY_REGION_CLUBBED_4 as string,",
						"          SALES_ORGANISATION as string,",
						"          DIVISIONCODE as string,",
						"          DISTRIBUTIONCHANNEL as string,",
						"          SALES_TYPE as string,",
						"          SALES_TYPE_2 as string,",
						"          SALES_TYPE_5 as string,",
						"          BILLINGDOCUMENT as integer,",
						"          SHIPMENTNO as string,",
						"          DELIVERY_NO as string,",
						"          SONUMBER as string,",
						"          ORDERQUANTITY as string,",
						"          CANCELLEDINVOICENO as string,",
						"          DOCUMENT_CATEGORY as string,",
						"          BILLINGTYPE as string,",
						"          SALES_FLAG as string,",
						"          QUANTITY_ZERO_FLAG as string,",
						"          EWAYBILLNO as string,",
						"          EWAYDATE as string,",
						"          INVOICEDQUANTITY as float,",
						"          NETWR_VFKP as double,",
						"          MRP_RS_BAG as string,",
						"          GROSS_BILL_PRICE as string,",
						"          INVOICE_PD as string,",
						"          MANUAL_PD as string,",
						"          NET_BILL_PRICE as string,",
						"          SGST as string,",
						"          CGST as string,",
						"          IGST as string,",
						"          TOTAL_TAX as string,",
						"          PRIMARY_FREIGHT as string,",
						"          MANUAL_FREIGHT as string,",
						"          TOTAL_PRIMARY_FREIGHT as string,",
						"          PRIMARY_FREIGHT_2 as string,",
						"          SECONDARY_FREIGHT as string,",
						"          TOTAL_FREIGHT as string,",
						"          HANDLING_CHARGE as string,",
						"          GODOWN_RENT as string,",
						"          BRANCH_EXPENSES_MANUAL as string,",
						"          TDC as string,",
						"          TOTAL_DISCOUNT as string,",
						"          TOTAL_COMMISION as string,",
						"          TOTAL_DISCOUNT_COMMISION as string,",
						"          CLINKER_PERCENTAGE as string,",
						"          TOTAL_CLINKER_FREIGHT as string,",
						"          PACKING_CHARGES as string,",
						"          OTHER_MANUAL_ADJUSTMENT as string,",
						"          NCR_WITHOUT_SUBSIDY as string,",
						"          TOTAL_REMISSION as string,",
						"          FINAL_NCR as string,",
						"          TOTAL_CASH_REMMISSION as string,",
						"          NET_BILL_PRICE_WITH_GD_IMPACT as string,",
						"          PF_DIST as string,",
						"          SF_DIST as string,",
						"          ORDER_PLATFORM as string,",
						"          PONUMBER as string,",
						"          PO_DATE as string,",
						"          REPORT_DATE as string,",
						"          WEEK_NO as string,",
						"          BILLINGDATE_TIMESTAMP as string,",
						"          BILLINGDATE as string,",
						"          SODATE as string,",
						"          DO_RELEASE_DATE_TIME as string,",
						"          SCHEDULE_DATE_TIME as string,",
						"          SO_RELEASE_DATE_TIME as string,",
						"          DELIVERY_DATE_TIME as string,",
						"          TRANS_TAGG_DATE_TIME as string,",
						"          SHIP_DATE_TIME as string,",
						"          PKGCALL_DATE_TIME as string,",
						"          YARD_IN_DATE_TIME as string,",
						"          YARD_OUT_DATE_TIME as string,",
						"          SECURITY_IN_DATE_TIME as string,",
						"          TARE_DATE_TIME as string,",
						"          ACTUAL_LOAD_DATE_TIME as string,",
						"          GROSS_DATE_TIME as string,",
						"          BILLING_DATE_TIME as string,",
						"          SECURITY_OUT_DATE_TIME as string,",
						"          TAT as string,",
						"          SO_DO_TIME as string,",
						"          DO_SHIP_TIME as string,",
						"          DO_TRANS_TAGG_TIME as string,",
						"          TRANS_TAGG_SHIP_TIME as string,",
						"          SHIP_PH_CALL_TIME as string,",
						"          PH_SEC_CALL_TIME as string,",
						"          SEC_TARE_CALL_TIME as string,",
						"          TW_LOAD_TIME as string,",
						"          LOAD_GW_TIME as string,",
						"          GW_INV_TIME as string,",
						"          INV_GO_TIME as string,",
						"          SLA_DATE_TIME as string,",
						"          INCOTERMS1 as string,",
						"          STATE_CODE_TRANSACTION as string,",
						"          RATE_CODE as string,",
						"          RATE_CODE_DESC as string,",
						"          TZONE as string,",
						"          TZONE_DESC as string,",
						"          MATERIALNUMBER as string,",
						"          MATERIAL_DESCRIPTION as string,",
						"          MATERIAL_SUBTYPE_MKT as string,",
						"          BAG_TYPE_ACTUAL as string,",
						"          PRODUCT_SALES_TEAM as string,",
						"          PRODUCT_MFG_TEAM as string,",
						"          MATNR_BRAND as string,",
						"          BLENDED_NONBLENDED as string,",
						"          BAG_LOOSE as string,",
						"          MANUFACTURING_PLANT as string,",
						"          ACTUAL_MFG_PLANT as string,",
						"          PLANTCODE as string,",
						"          PLANTDESC as string,",
						"          PLANT_TYPE_2 as string,",
						"          PLANT_DEPOT_TYPE as string,",
						"          PLANT_CODE_CLUBBED as string,",
						"          PLANT_NAME_CLUBBED as string,",
						"          PLANT_STATE_CODE as string,",
						"          PLANT_STATE_NAME as string,",
						"          PLANT_SUB_STATE as string,",
						"          DEPODIRECT as string,",
						"          DEPODIRECT_2 as string,",
						"          ROUTE as string,",
						"          ROUTEDESC as string,",
						"          TRANSPORTERCODE as string,",
						"          TRANSPORTERNAME as string,",
						"          DRIVERNAME as string,",
						"          MOBILENO_DRIVER as string,",
						"          LORRYORTRUCKNO as string,",
						"          TRUCKTYPEHU as string,",
						"          TRUCKTYPEDESCHU as string,",
						"          SHIPMENTTYPE as string,",
						"          SHIPPINGTYPE as string,",
						"          CHARG as string,",
						"          BATCHSOURCE as string,",
						"          BATCHNUMBER as string,",
						"          MODEOFTRANSPORT as string,",
						"          MEANSOFTRANSPORT_TYPE as string,",
						"          STOLOC as string,",
						"          DAMAGE_FLAG as string,",
						"          DAMAGE_FLAG_2 as string,",
						"          TRIPID as string,",
						"          SHIFT as string,",
						"          SO_CODE_TRANSACTION as string,",
						"          SO_NAME_TRANSACTION as string,",
						"          ASM_CODE_TRANSACTION as string,",
						"          ASM_NAME_TRANSACTION as string,",
						"          RSM_CODE_TRANSACTION as string,",
						"          RSM_NAME_TRANSACTION as string,",
						"          ZSM_CODE_TRANSACTION as string,",
						"          ZSM_NAME_TRANSACTION as string,",
						"          RSD_CODE_TRANSACTION as string,",
						"          RSD_NAME_TRANSACTION as string,",
						"          Z6_CODE_TRANSACTION as string,",
						"          Z6_NAME_TRANSACTION as string,",
						"          SOLDTOPARTYCODE as string,",
						"          SOLDTOPARTYNAME as string,",
						"          STATE_CODE_SOLDTO as string,",
						"          STATE_NAME_SOLDTO as string,",
						"          CITY_CODE_SOLDTO as string,",
						"          CITY_NAME_SOLDTO as string,",
						"          COUNTY_CODE_SOLDTO as string,",
						"          COUNTY_NAME_SOLDTO as string,",
						"          SALES_TERRITORY_SOLDTO as string,",
						"          TALUKA_CODE_SOLDTO as string,",
						"          TZONE_SOLDTO as string,",
						"          TZONE_NAME_SOLDTO as string,",
						"          LONGITUDE_SOLDTO as string,",
						"          LATITUDE_SOLDTO as string,",
						"          BP_TYPE_SOLDTO as string,",
						"          BP_DESCRIPTION_SOLDTO as string,",
						"          RATE_CODE_SOLDTO as string,",
						"          RATE_CODE_DESC_SOLDTO as string,",
						"          CUSTOMER_GRP1_SOLDTO as string,",
						"          CUSTOMER_GRP1_DESC_SOLDTO as string,",
						"          CUSTOMER_GRP2_SOLDTO as string,",
						"          CUSTOMER_GROUP_SOLDTO as string,",
						"          CUSTOMER_GROUP_GOVT_SOLDTO as string,",
						"          CUSTOMER_ACCOUNT_GROUP_SOLDTO as string,",
						"          SO_CODE_MASTER_SOLDTO as string,",
						"          SO_NAME_MASTER_SOLDTO as string,",
						"          ASM_CODE_MASTER_SOLDTO as string,",
						"          ASM_NAME_MASTER_SOLDTO as string,",
						"          RSM_CODE_MASTER_SOLDTO as string,",
						"          RSM_NAME_MASTER_SOLDTO as string,",
						"          ZSM_CODE_MASTER_SOLDTO as string,",
						"          ZSM_NAME_MASTER_SOLDTO as string,",
						"          RSD_CODE_MASTER_SOLDTO as string,",
						"          RSD_NAME_MASTER_SOLDTO as string,",
						"          Z6_CODE_MASTER_SOLDTO as string,",
						"          Z6_NAME_MASTER_SOLDTO as string,",
						"          SHIPTOPARTYCODE as string,",
						"          SHIPTOPARTYNAME as string,",
						"          Z6_CODE_MASTER_SHIPTO as string,",
						"          Z6_NAME_MASTER_SHIPTO as string,",
						"          UNLOADINGPOINTCODE as string,",
						"          UNLOADINGPOINTNAME as string,",
						"          STATE_CODE_UNLOADINGPOINT as string,",
						"          STATE_NAME_UNLOADINGPOINT as string,",
						"          CITY_CODE_UNLOADINGPOINT as string,",
						"          CITY_NAME_UNLOADINGPOINT as string,",
						"          COUNTY_CODE_UNLOADINGPOINT as string,",
						"          COUNTY_NAME_UNLOADINGPOINT as string,",
						"          SALES_TERRITORY_UNLOADINGPOINT as string,",
						"          TALUKA_CODE_UNLOADINGPOINT as string,",
						"          TZONE_UNLOADINGPOINT as string,",
						"          TZONE_NAME_UNLOADINGPOINT as string,",
						"          LONGITUDE_UNLOADINGPOINT as string,",
						"          LATITUDE_UNLOADINGPOINT as string,",
						"          BP_TYPE_UNLOADINGPOINT as string,",
						"          BP_DESCRIPTION_UNLOADINGPOINT as string,",
						"          RATE_CODE_UNLOADINGPOINT as string,",
						"          RATE_CODE_DESC_UNLOADINGPOINT as string,",
						"          CUSTOMER_GRP1_UNLOADINGPOINT as string,",
						"          CUSTOMER_GRP1_DESC_UNLOADINGPOINT as string,",
						"          CUSTOMER_GRP2_UNLOADINGPOINT as string,",
						"          CUSTOMER_GROUP_UNLOADINGPOINT as string,",
						"          CUSTOMER_ACCOUNT_GROUP_UNLOADINGPOINT as string,",
						"          SO_CODE_MASTER_UNLOADINGPOINT as string,",
						"          SO_NAME_MASTER_UNLOADINGPOINT as string,",
						"          ASM_CODE_MASTER_UNLOADINGPOINT as string,",
						"          ASM_NAME_MASTER_UNLOADINGPOINT as string,",
						"          RSM_CODE_MASTER_UNLOADINGPOINT as string,",
						"          RSM_NAME_MASTER_UNLOADINGPOINT as string,",
						"          RSM_EMAIL_MASTER_UNLOADINGPOINT as string,",
						"          ZSM_CODE_MASTER_UNLOADINGPOINT as string,",
						"          ZSM_NAME_MASTER_UNLOADINGPOINT as string,",
						"          ZSM_EMAIL_MASTER_UNLOADINGPOINT as string,",
						"          RSD_CODE_MASTER_UNLOADINGPOINT as string,",
						"          RSD_NAME_MASTER_UNLOADINGPOINT as string,",
						"          Z6_CODE_MASTER_UNLOADINGPOINT as string,",
						"          Z6_NAME_MASTER_UNLOADINGPOINT as string,",
						"          KEY_NONKEY_1 as string,",
						"          KEY_NONKEY_2 as string,",
						"          KEY_NONKEY_3 as string,",
						"          REGULAR_CONSIGNMENT as string,",
						"          STATE_WATERFALL_SD_WO_T_NT as string,",
						"          STATE_WATERFALL_SD as string,",
						"          VC_RP_PER_MT as string,",
						"          VC_RP_VALUE as string,",
						"          CONTRIBUTION_RP_VALUE as string,",
						"          A767_FREIGHT_VALUE as string,",
						"          A767_Z3_ZJ_FREIGHT_VALUE as string,",
						"          BUSINESS_AREA as string,",
						"          PROFIT_CENTRE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> bliingdata",
						"bliingdata select(mapColumn(",
						"          BILLINGDOCUMENT,",
						"          INVOICEDQUANTITY,",
						"          NETWR_VFKP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> billingsink"
					]
				}
			},
			"dependsOn": []
		}
	]
}